---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ${{ values.name }}
  name: ${{ values.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${{ values.name }}
  strategy: {}
  template:
    metadata:
      labels:
        app: ${{ values.name }}
    spec:
      containers:
        - image: 8eab29e/wave-1:v1.0
          name: ${{ values.name }}
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
